.button {
    padding: 5px 20px;
    text-transform: uppercase;
    background: var(--color-bg);
    color: #fff;
    border: none;
    transition: background-color 0.2s;
    &:hover {
        background-color: rgb(var(--color-accent));
    }
}

.light {
    color: var(--color-bg);
    background: #fff;
}

.hoverBorder {
    inset: 1px;
    position: relative;
    background: transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        display: block;
        background: #292929;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        position: absolute;
        left: 1px;
        top: 1px;
        z-index: -1;
    }

    &:hover {
        background: transparent;
        text-decoration: none;

        &::after {
            content: '';
            display: block;
            width: 200%;
            height: 100%;
            position: absolute;
            background: linear-gradient(-0deg, rgba(226,111,111,0) 0%, rgba(226,111,111,1) 100%);
            animation: a 3s infinite linear;
            z-index: -2;
            top: 50px;
        }
    }



}

@keyframes a {
    from {
        transform: rotateX(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}